:root {
  --color-primary: #0b0d17;
  --color-primary-rgb: rgb(11, 13, 23);
  --color-secondary: #d0d6f9;
  --color-secondary-rgb: rgb(208, 214, 249);
  --color-tertiary: #ffffff;
  --color-tertiary-rgb: rgb(255, 255, 255);
  --color-tertiary-super-light: rgba(255, 255, 255, 0.05);
  --color-tertiary-medium-light: rgba(255, 255, 255, 0.09);
  --color-tertiary-light: rgba(255, 255, 255, 0.5);
}

*,
*:link,
*::after,
*::before,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-image: url(../assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-clip: top;
}

body {
  box-sizing: border-box;
}

.no-display {
  display: none;
}

.high-font-weight {
  font-weight: 600 !important;
}

body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

main {
  flex: 1 1;
  display: flex;
  align-items: center;
}

.heading {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400;
  color: var(--color-tertiary);
}
.heading__1 {
  font-size: 15rem;
}
.heading__2 {
  font-size: 10rem;
}
.heading__3 {
  font-size: 5.6rem;
}
.heading__4 {
  font-size: 3.2rem;
}
.heading__5 {
  font-size: 2.8rem;
}
.heading__5--barlow {
  color: var(--color-tertiary);
  letter-spacing: 0.475rem;
  font-size: 2.8rem;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}
.heading__subheading {
  font-size: 1.6rem;
}
.heading__subheading--barlow {
  color: var(--color-tertiary);
  letter-spacing: 0.235rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}
.heading__nav-text {
  color: var(--color-tertiary);
  letter-spacing: 0.27rem;
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
}

.section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 8%;
}
.section__home--duo-1 h1 {
  margin: 2.4rem 0;
}
.section__home--duo-2 {
  position: relative;
}
.section__duo {
  flex: 0 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
  margin-top: 3rem;
}
.nav__logo {
  width: 4.8rem;
}
.nav__menu {
  flex: 0 1 60%;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(40px);
  -moz-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-color: var(--color-tertiary-super-light);
  position: relative;
}
.nav__menu::after {
  content: "";
  display: table;
  position: absolute;
  height: 0.1px;
  width: 60%;
  top: 50%;
  left: -26%;
  transform: translate(-50%, -50%);
  border-bottom: 2px solid var(--color-tertiary-medium-light);
}
.nav__menu--item {
  list-style: none;
  padding: 3.75rem 0;
  margin-left: 4.8rem;
  border: 0.2rem solid transparent;
  cursor: pointer;
  position: relative;
}
.nav__menu--item::before {
  content: "";
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s;
}
.nav__menu--item:hover::before {
  transform: scaleX(1);
  border-bottom: 0.2rem solid var(--color-tertiary-light);
}
.nav__menu--item:hover .nav__menu--item--link {
  color: var(--color-tertiary-light);
}
.nav__menu--item--link:link, .nav__menu--item--link:visited {
  color: var(--color-tertiary);
  text-decoration: none;
}

.cta {
  --lenght-radius: 24.7rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--lenght-radius);
  height: var(--lenght-radius);
  border-radius: 50%;
  letter-spacing: 0.2rem;
  color: var(--color-primary);
  background-color: white;
  cursor: pointer;
}
.cta:link,
.cta :visited,
.cta :active {
  text-decoration: none;
}
.cta::after {
  content: "";
  display: table;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: var(--color-tertiary-light);
  opacity: 0;
  transform-origin: center;
  z-index: -1;
  transition: width 0.2s, height 0.2s, background-color 0.2s, opacity 0.5s;
}
.cta:hover::after {
  width: calc(var(--lenght-radius) * 1.62);
  height: calc(var(--lenght-radius) * 1.62);
  opacity: 0.4;
}
.cta:active::after {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
