// Code for all sections
.section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__duo {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    margin-bottom: 1.5rem;
  }
}
