// Code for all sections
.section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  // Max width of main page contents
  max-width: 230rem;

  // MEDIA

  &__duo {
    display: flex;
    flex: 0 1 445px;
    flex-direction: column;
    justify-content: center;
  }

  &__heading {
    margin-bottom: 5rem;
  }
}
