// Typography code for body
body {
  font-size: 1.8rem;
  font-family: "Barlow", sans-serif;
  color: var(--color-secondary);

  // Code for aligning the nav and the main sections
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

// Typography code for Main
main {
  margin: 0 8%;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Typography code for all pages content (Heading and main)
.page-content {
  // overflow: hidden;
}

.heading {
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-weight: 400 !important;
  color: var(--color-tertiary);
  &__1 {
    font-size: 15rem;
  }

  &__2 {
    font-size: 10rem;
  }

  &__3 {
    font-size: 5.6rem;
  }

  &__4 {
    font-size: 3.2rem;
  }

  &__5 {
    font-size: 2.8rem;

    &--barlow {
      color: var(--color-tertiary);
      letter-spacing: 0.475rem;
      font-size: 2.8rem;
      font-weight: 400 !important;
      font-family: "Barlow Condensed", sans-serif;

      &-home {
        color: var(--color-secondary);
      }
    }
  }

  &__subheading {
    font-size: 1.6rem;

    &--barlow {
      color: var(--color-tertiary);
      letter-spacing: 0.235rem;
      font-size: 1.4rem;
      font-weight: 400 !important;
      font-family: "Barlow Condensed", sans-serif;
    }
  }

  &__nav-text {
    color: var(--color-tertiary);
    letter-spacing: 0.27rem;
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
  }
}
